<main class="container">
<!-- Share via email -->
  	<div class="share-email-content">
  		<a href="#email-share" data-toggle="modal" class="share-email-content">SHARE VIA EMAIL <i class="fa fa-share-square-o fa-lg"></i></a>

  	</div>
<!-- Share via email -->
<!-- My Medical Conditions -->
  <div class="content-header">
    <div class="menu-icon">
      <img src="/assets/stethoscope.png">
    </div>
    <div class="content-title">
      MY MEDICAL CONDITION
    </div>
    <div class="menu-icon-2" id="conditionSetting">
      <i class="icon-box-add"></i>
      <input type="checkbox" checked name="searchDiagnosis" id="searchDiagnosis" class="conditionSearchIn"> Diagnosis
      <input type="checkbox" checked name="searchProcedure" id="searchProcedure" class="conditionSearchIn"> Procedure
    </div>
  </div>
  <div class="search-bar" ng-controller="conditionController">
    <input id="medicalCondition" ng-model="newProcedure" placeholder="Add a procedure to get started" />
    <button class="btn btn-success" id="procedure-btn" ng-click="add()">ADD PROCEDURE</button>
  </div> <!-- My medical conditions -->

  <!-- My Insurance status -->
  <div id="insuranceController" ng-controller="insuranceController">
    <div class="content-header">
      <div class="menu-icon">
        <img src="/assets/insurance.png">
      </div>
      <div class="content-title">
        MY INSURANCE STATUS
      </div>
    </div>
    <div class="status-box">
      <div class="row color-slider">
        <div class="col-lg-3">
          <div class="total-ded">
            <div class="title">
              Total Deductible
            </div>
            <input class="amount" ng-model="totalDeductible" value="$0" prefix="$">
            <div class="slider-range" max="10000">
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="ded-date">
            <div class="title">
              Deductible Paid-To-Date
            </div>
            <input class="amount" ng-model="deductiblePaid" value="$0" prefix="$">
            <div class="slider-range" max="10000">
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="copay">
            <div class="title">
              Copay
            </div>
            <input class="amount" ng-model="copay" value="$0" prefix="$">
            <div class="slider-range" max="100">
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="coinsurance">
            <div class="title">
              Coinsurance
            </div>
            <input class="amount" ng-model="coInsurance" value="0%" prefix="%">
            <div class="slider-range" max="100">
            </div>
          </div>
        </div>
      </div>
    </div> <!-- Insurance status -->
  </div>

  <div ng-controller="procedureController" id="procedureController">
    <!-- My procedures -->
    <div class="content-header" id="myProDiv">
      <div class="menu-icon">
        <img src="/assets/procedures.png">
      </div>
      <div class="content-title">
        MY PROCEDURES
      </div>
      <div class="content-view" ng-controller="cityController">
        <button id="showList" class="btn btn-default procedureView current" data-show="list-view" ng-click="setListView(1)">List view</button>
        <button class="btn btn-default procedureView" data-show="map-view" ng-click="setListView(0)">Map view</button>
        <input type="text" id="cityComplete" ng-model="autoLocation" placeholder="State / City / Zip">
        <input ng-show="0" id="newLocation" ng-model="newLocation">
        <input ng-show="0" id="newLocationZip" ng-model="newLocationZip">
        <input ng-show="0" id="newLocationType" ng-model="newLocationType">
        <input ng-show="0" id="newLocationCategory" ng-model="newLocationCategory">
        <input id="cityAdd" type="submit" value="+" ng-click="add()">
      </div>
    </div>
    
    <!-- list view -->
    <div class="list-view procedureLayout">
      <div class="content-body" ng-show="list">
        <table class="table" id="procedureTable">
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Network</th>
            <th>Place of service</th>
            <th class="avg-cost-heading">National Avg</th>
          </tr>
          <tr ng-repeat="procedure in procedures track by $index">
            <td class="eraseBtn">
              <i class="fa fa-trash-o deleteMyProcedure" ng-click="destroy($index)"></i>
            </td>
            <td class="labs">
              <!--<label for="{{procedure.id}}" id="procedure-name" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="{{procedure.name}}">{{ procedure.name }}</label>-->
              <!--<label for="{{procedure.id}}" id="procedure-name" tooltip="{{procedure.name}}" tooltip-append-to-body="true">{{ procedure.name }}</label>-->
              <label for="{{procedure.id}}" id="procedure-name" title="{{procedure.name}}">{{ procedure.name }}</label>
              <!--<script type="text/javascript" >
						$('#procedure-name').popover();
				  </script>-->
            </td>
            <td>
              <select ng-model="procedure.current_network" ng-change="filter($index)" >
                <option ng-repeat="network in procedure.all_networks" value="{{network}}">{{network}}</option>
              </select>
            </td>
            <td>
              <select ng-model="procedure.current_facility" ng-change="filter($index)">
                <option ng-repeat="facility in procedure.all_facilities" value="{{facility}}">{{facility}}</option>
              </select>
            </td>
            <td class="avg-cost">
              ${{procedure.avgCharge}}
            </td>
          <tr>
        </table>
        <div class="overflowScroll">
          <div class="arrows">
            <i id="previous-column" class="glyphicon glyphicon-chevron-left" ng-show="cities.length > 2"></i>
          </div>
          <div class="table-container">
            <div class="sliding-window">
              <div>
                <table id="costTable">
                  <tr>
                    <!-- <th class="avg-cost-heading">National Avg</th> -->
                    <th class="zip-cost-heading" ng-repeat="city in cities track by $index">
                       {{city.dataDisType}} : {{city.data}}
                      <a href="" ng-click="cityDestroy($index+1)"><i class="fa fa-trash-o"></i></a>
                    </th>
                  </tr>
                  <tr ng-repeat="procedure in procedures track by $index">
                    <td class="avg-cost" ng-repeat="c in procedure.charge track by $index"> 
                      ${{c.val}}
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="arrows">
            <i id="next-column" class="glyphicon glyphicon-chevron-right" ng-show="cities.length > 2"></i>
          </div>
        </div>
      </div> <!-- my procedures -->
    </div> <!-- list-view -->

    <!-- map-view -->
    <div class="map-view procedureLayout" ng-hide="list">
      <div class="row">
        <div class="col-lg-6">
          <div class="map-display" id="mapContainer">
            
          </div>
        </div>
        <div class="col-lg-6">
          <div class="map-view-table table-responsive">
            <table class="table">
              <thead>
                <th colspan="3"> My Procedures</th>
              </thead>
              <tbody>
                <tr ng-repeat="procedure in procedures track by $index">
                  <td class="labs">
                  <input type="radio" name="procedure" class="style-check" id="{{$index}}" /> 
                  <label for="{{$in}}">{{procedure.name}}</label></td>
                  <td>
                    <select ng-model="procedure.current_network" ng-change="filter($index)" >
                      <option ng-repeat="network in procedure.all_networks" value="{{network}}">{{network}}</option>
                    </select>
                  </td>
                  <td>
                    <select ng-model="procedure.current_facility" ng-change="filter($index)">
                      <option ng-repeat="facility in procedure.all_facilities" value="{{facility}}">{{facility}}</option>
                    </select>
                  </td>
                </tr>
              </tbody>
            </table>
          </div> <!-- map-view-table -->
          <div class="criteria-zipcode">
            <div class="row">
              <div class="col-lg-6">
                <div class="criteria-cost">
                  <div class="criteria-heading">
                    My Cost Criteria
                  </div>
                  <div class="criteria-fields">
                    <span>
                      <input type="checkbox" class="style-check"  id="my-cost" /> <label for="my-cost">My Cost</label>
                    </span>
                    <span>
                      <input type="checkbox" class="style-check"  id="avg-cost" /> <label for="avg-cost">Average Cost</label>
                    </span>
                  </div>
                  <div class="criteria-slider">
                    <div class="slider-heading">
                      Cost
                    </div>
                    <div class="slider-range-cost">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="location">
                  <div class="location-heading">
                    Location
                  </div>
                  <div class="zip-sug">
                    <div ng-repeat="city in cities track by $index">
                      <span class="zip">{{city.dataDisType}} : {{city.data}}</span>&nbsp;
                      <i class="fa fa-trash-o" ng-click="cityDestroy($index+1)"></i>
                    </div>
                  </th>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- map-view -->
  </div>
  <!-- Recommended Physicians -->
  <div class="content-header">
    <div class="menu-icon">
      <img src="/assets/physicians.png">
    </div>
    <div class="content-title">
      RECOMMENDED PROVIDERS
    </div>
    <div class="content-view physicians">
      <button class="btn btn-default current"> In-Network
      </button>
      <button class="btn btn-default"> Out-Of-Network
      </button>
      <button class="btn btn-default"> My Favorite
      </button>
    </div>
  </div>

  <div class="physician-selection" ng-controller="physicianController">
    <div ng-hide="noPhysician()" class="noPhysician">
      Add a <a ng-click="addProcedure()"> procedure </a> and <a ng-click="addLocation()">location</a> to get started
    </div>
    <div class="selection-items" ng-show="noPhysician()">
      <ul>
        <li>
          <span class="provider-search-result"><b>30 Results for &nbsp;</b></span>
        </li>
        <li> 
          <select ng-model="myphyPro" ng-change="updatePhysician()" ng-options="procedure.id as procedure.name for procedure in procedures" name="physicianProcedure" id="physicianProcedure">
          </select>
        </li>
        <li ng-click="sortPhysic('')">
          <select ng-model="locationAdded" ng-change="updatePhysician()"  name="locationAdded" id="locationAdded">
            <option ng-repeat="city in cities" value="{{city.dataId}}">
              {{city.data}}({{city.dataDisType}})
            </option>
          </select>
        </li>
      </ul>

      <ul>
        <li ng-click="sortPhysic('')">
          Quality of Care &nbsp;
          <i class="fa fa-caret-down"></i>
        </li>
        <li>
          <span ng-click="sortPhysic('cost')" class="provider-filter">Cost &nbsp;</span>
          <i class="fa fa-caret-down" data-toggle="popover" data-content="demo"></i>
        </li>
        <li>
          <span ng-click="sortPhysic('first_name')" class="provider-filter">Provider Name &nbsp;</span>
          <i class="fa fa-caret-down" data-toggle="popover" data-content="Sample Text<br>"></i>
        </li>
        <!--<li> 
          <select ng-model="myphyPro" ng-change="updatePhysician()" ng-options="procedure.id as procedure.name for procedure in procedures" name="physicianProcedure" id="physicianProcedure">
          </select>
        </li>-->
      </ul>
    </div>
    <div class="physician-list" ng-show="noPhysician()">
      <div ng-hide="physicians.length && cities.length" class="noPhysician">
        No Providers for currently chosen Procedure.
      </div>
      <div class="physician-available"  ng-show="physicians.length && cities.length">
        <div class="row">
          <div class="col-lg-4 col-md-4 clo-xs-6" ng-repeat="physician in physicians | orderBy:column:descending track by $index ">
            <div class="physician-details" id="f{{$index}}">
              <div class="row">
                <div class="col-lg-4 details-col">
                  <div class="profile-pic">
                    <img src="/assets/{{physician.img_url}}">
                  </div>
                  <div class="physician-name">
                    Dr. {{physician.first_name}}
                  </div>
                </div>
                <div class="col-lg-8 details-col">
                  <div class="profile-content">
                    <ul>
                      <li><span class="profile-fields">Speciality :</span> {{physician.provider_type}} </li>
                      <li><span class="profile-fields">Years In Practice :</span> From {{physician.physician_since}} </li>
                      <li><span class="profile-fields">Location :</span> {{physician.provider_address}} </li>
                      <li><span class="profile-fields">My Estimated Cost :</span> ${{physician.cost}} </li>
                      <li><span class="profile-fields">NCQA Rating :</span> 
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </li>
                    </ul>
                  </div>
                  <div class="profile-icons">
                    <a href=""><i ng-click="makeFav(physician.id)" class="fa fa-heart"></i></a>
                    <a href="" ng-click="flipGraph($index)"><img src="/assets/growth.png"></a>
                  </div>
                </div>
              </div>
             <!--  <div class="physician-map">
                <gm-map 
                gm-map-id="'myMap'" 
                gm-center="physician.locate"
                gm-zoom="zoom" 
                gm-bounds="bounds" 
                gm-map-type-id="mapTypeId" 
                style="width:368px;height:300px;">
                </gm-map>
              </div> -->
            </div> <!-- physician details -->
            <div class="physician-details performance-info hide" id="b{{$index}}">
              <div class="row">
                <div class="col-lg-10">
                  <div class="physician-name">
                    Dr. {{physician.first_name}}'s Performance
                  </div>
                  <div class="profile-content">
                    <ul>
                      <li><span class="profile-fields">NALC Member Patients :</span> 2 </li>
                      <li><span class="profile-fields">Other Helpful Data Point :</span> 17 </li>
                      <li><span class="profile-fields">Other Helpful Data Point :</span> 17 </li>
                      <li><span class="profile-fields">Other Helpful Data Point :</span> 17 </li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-2">
                  <div class="profile-icons">
                    <a href="" class="active"><i class="fa fa-heart"></i></a>
                    <a href=""><i class="icon-user" ng-click="flipGraph($index)"></i></a>
                  </div>
                </div>
              </div>
              <div class="performance-graph">
                <img src="/assets/performance-graph.png">
              </div>
            </div> <!-- physician details -->
          </div>
        </div> <!-- row -->
      </div> <!-- physician available -->
    </div> <!-- physician-list -->
  </div> 
  <!-- Recommended Physicians -->
  <!-- Footer -->
		<div class="navbar navbar-default navbar-fixed-bottom">
       	<div class="footer-container">
           	<p class="navbar-text pull-right"> <span class="footer-text1">POWERED BY:</span> <span class="footer-text2">NETHER</span><span class="footer-text3">MEAD</span></p>
       	</div>  
  		</div>
  	<!--Footer -->

   <!-- Share via email modal -->
  		<div class="modal fade" id="email-share" role="dialog">
      	<div class="modal-dialog">
          	<div class="modal-content">
              	<form class="form-horizontal">
                   <div class="modal-header">
                       <h4>E-mail Market Summary</h4>
                   </div>
                   <div class="modal-body">
                       <div class="form-group">
                           <div class="col-lg-10">
                           	 <input type="email" class="form-control col-lg-2" id="contact-email" placeholder="E-mail Address">
				               </div>
                       </div> 
							  <div class="form-group">
                           <div class="col-lg-10">
                                <textarea class="form-control col-lg-2" rows="4" id="email-msg" placeholder="Enter message..."></textarea>
				               </div>
                       <%= recaptcha_tags %>
                       </div>
                   </div>
                   <div class="modal-footer">
                   	  <a class="btn btn-default" data-dismiss="modal">Close</a>
                       <button class="btn btn-success" type="submit" id="emailShare">Submit</button>
                   </div>
                </form>
            </div>
          </div>
        </div>
 	 <!-- Share via email modal -->
</main>
