@import url(fonts.css);

.navbar-brand{
	height: auto !important;
}
.navbar-nav>li>a {
	padding-top: 40px;
	padding-bottom: 5px;
}
.navbar-brand{
	font-size: 24px;
	font-family: 'OpenSansRegular';
	color: #fff !important;
	padding: 10px;
}
.navbar-brand span{
	font-family: 'OpenSansSemibold';
	font-weight: 700;
}
.navbar{
	margin-bottom: 0;
	background: #3d4753;
	color: #fff;
}
.navbar-nav .user-email a{
	color: #fb9388 !important;
	font-family: 'OpenSansSemibold';
}
.navbar-nav .user-pic a{
	padding-top: 25px;
	color: #fff;
}
.navbar-nav>li>a .glyphicon-user{
	color: #fff;
	border: 3px #fff solid;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	font-size: 32px;
	text-align: center;
	padding-top: 15%;
}
.border{
	border-top: 2px #fff solid;
	border-color: #fff !important;
}
.sub-header{
	padding-left: 0px;
}
.sub-header .navbar-nav>li>a{
	padding: 0;
}
.sub-header .navbar-nav>li>a input{
	width: 320px;
	height: 50px;
	padding-left: 15px;
	border: 0;
}
.sub-header .navbar-nav .subheader-folder a{
	padding: 11px 20px;
	font-size: 23px;
	color: #fb9388;
	position: relative;
}
.sub-header .navbar-nav .subheader-folder a:hover{
	color: #fb9388;
}
.sub-header .navbar-nav .subheader-folder a img{
	width: 27px;
}
body{
	background: #f7f7f7;
	margin-bottom: 100% !important;

}
main{
	margin-top: 3%;
	margin-bottom: 10%;
}
.container{
	padding: 0;
}
.share-email-content {
	float: right;
	color: #3d4751;
	font-weight: bold;
	margin-right: 15px;
	margin-bottom: 5px;
	font-size: 17px;	
	cursor: pointer;
}
a:hover {
	text-decoration: none;	
}
a:focus {
	text-decoration: none;	
}
.modal-header {
	height: 60px;	
}
.modal-body {
	height: 150px;	
}
.modal-footer {
	height: 60px;
	margin-top: 40px;	
}
.modal-dialog {
	top: 38%;
}
textarea{
	resize:none;
}
.content-header{
	border-top: 4px #3d4753 solid;
	position: relative;
	clear: both;
}

#procedureTable {
	float: left;
	width: 59%;
}

#costTable {
	float: left;
}
.zip-cost{
	width: 50%;
}
.overflowScroll {
	width: 39%;
	overflow-x: scroll;
	margin-top: 20px;
	display: inline-block;
}

.menu-icon{
	position: absolute;
	background: #3d4753;
	display: inline-block;
}
.menu-icon img{
	width: 64px;
	height: 56px;
}
.menu-icon-2{
	background: #3d4753;
	padding: 0.5%;
	display: inline-block;
	position: absolute;
	right: 0;
	top: 0;
}
.menu-icon-2 i{
	color: #fff;
	font-size: 18px;
}
.content-title{
	font-size: 26px;
	font-family: 'OpenSansSemibold';
	font-weight: 700;
	margin-left: 80px;
	margin-top: 10px;
	display: inline-block;
	color: #3d4753;
}
.search-bar{
	margin: 5% 0;
}
.search-bar input{
	width: 500px;
	padding: 10px;

}
.search-bar .btn-success{
	background: #fd9288;
	padding: 5px;
	outline: none;
	border: none;
	font-size: 14px;
	display: inline-block;
	font-weight: bold;
}
.status-box{
	font-family: 'OpenSansRegular';
	text-align: center;
	margin: 5% 0;
}
.status-box .total-ded, .status-box .ded-date, .status-box .copay, .status-box .coinsurance{
	border: 1px #3d4753 solid;
	padding: 1%;
	text-align: center;
	height: 165px;
	background: #fff;
}
.status-box .title{
	font-family: 'OpenSansRegular';
	font-weight: bolder;
	font-size: 18px;
	margin: 3% 0;
}
.status-box .amount{
	font-size: 52px;
	color: #d74b3e;
	border: 1px #aaa solid;
	background: none;
	width: 180px;
	text-align: center;
	margin-bottom: 10px; 
}
.status-box .amount:focus {
	 outline: 0;
}


/*list-view*/
.content-body{
	position: relative;
}
.content-view{
	display: inline-block;
	margin-left: 24%;
	vertical-align: top;
	margin-top: 1%;
}

.content-view .btn-default{
	padding: 9px 10px;
	width: 150px;
	outline: none;
	margin-right: 5px;
	background: transparent;
	font-family: 'OpenSansSemibold';
	border: 1px #b1b1b1 solid;
	color: #c9c9c9;
}


.content-body table{
	margin-top: 2%;
	font-size: 16px;
}
.content-body table tr th{
	border: none;
	padding: 1%;
	padding-left: 0;
}
.content-body table tr td{
	border: none;
	padding: 20px 0px;
}
.content-body table th{
	font-size: 18px;
}
.content-body table .scroll-arrow a{
	font-size: 16px;
}
.content-body table .labs{
	color: #F12E28;
	padding: 24px 15px;
	padding-left: 0;
	width: 30%;
}

.content-body table .labs label{
	font-weight: normal;
	cursor: pointer;
	font-size: 14px;
	vertical-align: text-top;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 120px;
}
.content-body table .labs input.style-check{
	width: 15px;
	height: 15px;
}
.content-body table tr td select{
	padding: 3px 12px;	
}
.content-body table .fa-map-marker{
	font-size: 18px;
}
.content-body table .fa-plus{
	font-size: 14px;
}
.content-body table i{
	color: #000;
	font-size: 18px;
}
.content-body table i:hover{
	text-decoration: none;
	color: #000;
}
.content-body table .avg-cost, .content-body table .zip-cost{
	font-size: 32px;
	text-align: left;
	font-family: 'OpenSansSemibold';
	padding: 17px 0px;
	width: 175px;
}
.content-body table .avg-cost-heading, .content-body table .scroll-arrow{
	text-align: left;
}
.content-body table .zip-cost-heading{
	color: #fe9487;
	text-align: left;
}
/*map-view*/
.map-view{
	margin-top: 3%;
	margin-bottom: 5%;
}
.map-display img{
	width: 80%;
}
.map-view-table{
	border: 1px #ccc solid;
	border-radius: 5px;
	background: #fff;
	padding: 0% 6%;
	padding-right: 1%;
}
.map-view-table table{
	font-family: 'OpenSansRegular';
}
.map-view-table table thead th{
	text-align: center;
	border: 0;
	font-family: 'OpenSansSemibold';
	font-size: 18px;
}
.map-view-table table tbody tr td{
	border: 0;
	vertical-align: middle;
}
.map-view-table table tbody tr td label{
	font-weight: normal;
	font-size: 13px;
	font-family: 'OpenSansSemibold';
}
.map-view-table table tbody tr td select{
	padding: 1% 5%;
}
.criteria-cost, .location{
	border: 1px #ccc solid;
	background: #fff;
	font-family: 'OpenSansSemibold';
	padding: 2%;
	margin-top: 5%;
}
.criteria-heading, .location-heading{
	font-size: 18px;
	padding-bottom: 2%;
	text-align: center;
}
.criteria-fields{
	width: 125px;
	margin: 0 auto;
	padding-left: 5%;
	padding-top: 2%;
}
.criteria-fields span{
	display: block;
	font-size: 14px;
}
.criteria-slider{
	text-align: center;
	margin-top: 2%;
}
.slider-heading{
	margin-bottom: 2%;
}
.ui-slider-horizontal{
	width: 150px;
	margin: 0 auto;
}
.ui-slider-range{
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(0, #6B9E90),
		color-stop(1, #04B5A9)
		);
	background-image: -o-linear-gradient(right, #6B9E90 0%, #3e4854 100%);
	background-image: -moz-linear-gradient(right, #6B9E90 0%, #04B5A9 100%);
	background-image: -webkit-linear-gradient(right, #6B9E90 0%, #04B5A9 100%);
	background-image: -ms-linear-gradient(right, #6B9E90 0%, #04B5A9 100%);
	background-image: linear-gradient(to right, #6B9E90 0%, #04B5A9 100%);
}
.ui-slider-handle{
	background: #fff !important;
	border: 3px #6B9E90 solid !important;
	border-color: #6B9E90 !important;
	border-radius: 10px;

}
.ui-slider-handle:focus{
	outline: none;
}
.zipcode, .zip-sug{
	text-align: center;
}
.zipcode input{
	width: 140px;
	padding-left: 5px;
	padding: 2%;
	outline: none;
}
.zip-sug{
	margin-top: 5%;
}
.zip-sug span, .zip-sug i{
	cursor: pointer;
}

/*.content-body table .zip-cost-heading, .content-body table .scroll-arrow, .content-body table .arrow-col, .content-body table .zip-cost{
	background: #F3F2F2;
	}*/
	.physicians {
		margin-left: 11.6%;
	}
	.selection-items{
		margin-top: 2%;
	}
	.selection-items ul{
		padding: 0;
		list-style: none;
	}
	.selection-items ul li{
		display: inline-block;
		padding-right: 20px;
		font-family: 'OpenSansSemibold';
		font-size: 16px;
	}
	.selection-items ul li:hover{
		cursor: pointer;
	}
	.selection-items li>span, .selection-items li>i{
		color: #fb9388;
	}
	.physician-list{
		font-family: 'OpenSansRegular';
		margin-top: 2%;
	}
	.physician-details{
		border: 1px #fff solid;
		background: #fff;
		position: relative;
		margin-top: 8%;
	}
	.physician-details .row{
		padding: 2% 5%;
		padding-bottom: 0;
	}
	.details-col{
		padding: 0;
	}
	.profile-pic{
		text-align: center;
		padding-top: 5%;
	}
	.physician-name{
		text-align: center;
		padding-top: 5%;
		font-size: 18px;
		font-family: 'OpenSansRegular';
	}
	.profile-pic img{
		width: 90px;
		height: 90px;
	}
	.profile-content ul{
		padding: 0;
		list-style: none;
	}
	.profile-content ul li{
		padding: 5px 0;
		font-size: 15px;
	}
	.profile-content ul li i{
		font-size: 20px;
		color: #00467a;
	}
	.profile-content .profile-fields{
		font-family: 'OpenSansSemibold';
	}
	.physician-map img{
		width: 100%;
	}
	.performance-graph{
		text-align: center;
		padding: 0 3%;
		padding-bottom: 7%;
		padding-top: 5%;
	}
	.performance-graph img{
		width: 90%;
	}
	.profile-icons{
		position: absolute;
		top: 3px;
		right: 12px;
	}
	.profile-icons a{
		color: #3d4753;
		font-size: 18px;
	}
	.profile-icons a:hover{
		text-decoration: none;
	}
	.profile-icons a.active{
		color: #d54a45;
	}
	.performance-info .physician-name{
		font-family: 'OpenSansLight';
		font-size: 24px;
		text-align: left;
		padding-left: 5px;
		padding-top: 0;
	}
	.performance-info .profile-content{
		font-size: 16px;
		padding-left: 5px;
	}

	.current {
		background: #3d4753 !important;
		color: #fff !important;
	}

	#conditionSetting {
		color: white;
	}

	#conditionSetting input {
		margin-left: 10px;
	}

	#logOut {
		margin: 0px 0px 0px 100px;
		padding: 0px;
	}

	.noPhysician {
		font-family: 'OpenSansLight';
		font-size: 24px;
		text-align: center;

		padding-left: 5px;
		padding-top: 50px;

	}

	select {
		display: inline-block;
		height: 30px;
		padding: 4px 6px;
		margin-bottom: 10px;
		font-size: 14px;
		line-height: 20px;
		color: #555;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px !important;
		vertical-align: middle;
		border: 1px solid #000; 
		background-color: #fff;
		width: 125px;
	}

	.ui-autocomplete-category {
		font-weight: bold;
		padding-left: 10px;
		font-size: 15px;
	}

	.ui-widget-content {
		background: #fff !important;
	}

	.ui-menu .ui-menu-item {
		padding-left: 20px !important;
		margin: 5px 0px !important;
		font-size: 13px !important;
	}
	.ui-menu-token-item {
		padding-left: 20px !important;
		margin: 5px 0px !important;
		font-size: 13px !important;
	}

	.ui-menu-token-item-header {
		font-weight: bold;
		padding-left: 10px;
		font-size: 15px;
		margin-top: 10px;
		display: inline-block;
	}

	.ui-state-focus {
		background: #fec9c3 !important;
		width: auto;
		color: #000 !important;
		border-radius: 0px !important;
		margin: 5px 0px !important;
	}

	.ui-slider-handle {
		margin: 0px 0px !important;
	}

	ul.token-input-list-facebook {
		float: left;
		margin-right : 15px !important; 
	}

	#conditionSetting i {
		font-size: 20px;
		color: #FB9386;
		cursor: pointer;
	}

	#cityAdd {
		background: white;
		border: 1px #000 solid;
		height: 26px;
	}

	#cityComplete {
		background: white;
		border: 1px #000 solid;
		height: 26px;
		padding: 5px;
	}

	#cityComplete:focus {
		outline: 0;
	}
	
	#mapContainer {
		height: 350px;
	}

	.navbar-fixed-bottom {
		background-color: white;
		border-style: none;	
	}
	
	.navbar-text {
		padding-right: 60px;	
	}
	
	.footer-text1 {
 		color: black;		
	}
		
	.footer-text2 {
		color: #6aba9f;
		font-weight: bold;
		letter-spacing: 1px;
	}
	
	.footer-text3 {
		color: #9a7d93;
		font-weight: bold;	
		letter-spacing: 1px;	
	}

	.popover {
		width: 260px;
		height: 45px;	

  .staticBin {
  	display: inline-block;
  }
	.staticBin table tr td{
		padding: 28px 0;
}
