<!DOCTYPE html>
<html ng-app="myApp">
	<head>
  		<title>NALC HEALTHCARE PLAN</title>
  		<%= stylesheet_link_tag    'application', media: 'all'%>
      <script src="/assets/jquery.min.js"></script>
  		<%= javascript_include_tag 'application' %>
      <script src="/assets/angular/controller/procedureController.js"></script>
  		<%= csrf_meta_tags %>
	</head>
<body>
  <%= yield %>
</body>
</html>
